<!DOCTYPE html>
<html ng-app="polApp">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		
	</head>
	<body ng-controller="mainCtrl">
		<h1>POLITICO</h1>
		<form class="inputBar">
			<input type="text" ng-model="polly" />
			<button ng-click="getVotes()"></button>
		</form>
		<div class="legiNames" ng-repeat="poli in legislators">
			<a><div ng-click='getLegiVotes(poli.bioGuide)'>{{poli.first_name}} {{poli.last_name}}</div></a>
		</div>
		
		<!-- ALL SCRIPTS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="app.js"></script>
		<script src="polService.js"></script>
		<script src="mainCtrl.js"></script>
	</body>

</html>