html body {
	margin: 0 auto;
	width: 100%;
	background: #090B3A;
	font-family: 'PT Sans', sans-serif; 
  color: white;
}

.inputBar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 450px;
  height: 227.59px;
  padding-top: 20%;
  padding-bottom: 2%;
}

.legiNames {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 520.5px;
  height: 40px;
  padding-top: 2%;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  padding-left: 46px;
}

#searchArea
 {
	width: 30em;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: 'Droid Sans', sans-serif;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 257.39px;
  height: 55px;
  padding-top: 50px;
}
